<div class="showContainer" style="padding-left: 65px !important;">

<div class="composeDiv">
  <h1 class="compose">Compose</h1>
  <form action="/compose" method="POST">
    <div>
      <label>Title</label>
      <input class="title" type="text" name="postTitle" required>
      <label>Post</label>
      <textarea class="textArea" name="postBody" rows="5" cols="30" required></textarea>
    </div>
    <button class="btn" type="submit" value="post" name="button">Publish</button>
    <button class="btn cancelBtn"><a href="/">Cancel</a></button>


  </form>

</div>
</div>