
  

    <div class="container">
        <div class="topContainer">

            <img src="images/topContainerImage.jpg" alt="">
            <!-- <div class="content">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit
                </p>
                <p> Aliquam sint cumque enim corporis officiis?
                    Tempora minima praesentium tempore facilis quod culpa molestiae, iusto non! Culpa asperiores
                    obcaecati quidem. Totam, placeat!
                </p>
            </div> -->

        </div>
        <div class="middleContainer">
            <div class="aboutContainer">
                <p class="aboutHeading">About Us</p>
                <p class="aboutContent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus natus quaerat
                    autem numquam alias
                    blanditiis repudiandae, ad, aliquam aliquid a consectetur assumenda mollitia iusto tenetur
                    laboriosam excepturi corrupti nulla pariatur
                </p>
            </div>
        </div>
    </div>

    </div>
    

