<div class="showContainer">
    <!-- <div class="blogContainer" "> -->
    <div class=" listBlogWrap">
        <% data.forEach(post=> { %>
            <div class="listBlogs">
                <p class="blogTitle">
                    <%- post.postTitle %>
                </p>
                <p class="blogBody">
                    <%- post.postBody.substring(0,300) %>
                        <a href="blogs/<%= post.postId  %> " style="text-decoration: none;">... read more</a>
                </p>
                <button class="btn"><a href="/posts/update/<%= post.postId  %>">Edit</a></button>
                <button class="btn cancelBtn"><a href="/posts/delete/<%= post.postId  %>">Delete</a></button>

            </div>

            <% });%>
    </div>

    <!-- </div> -->
</div>