<div class="showContainer">
    <div class="login_container">
        <div class="title"><span>Registration Form</span></div>
        <div class="login_form">
            <form action="/register" method="post">
                <div>
                    <p> <input type="email" name="username" id="" placeholder="Enter Email"></p>
                </div>
                <div>
                    <p><input type="password" name="password" id="" placeholder="Enter password"></p>
                </div>
                <div>
                    <button type="submit" value="post">Register</button>
                </div>
            </form>
        </div>
        <div class="signup-link">Already a member? <a href="/login">LogIn now</a></div>
    </div>

</div>